body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  background-color: rgb(100, 191, 122);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 3em;
  position: relative;
  height: 100vh;
  background-image: url(./assets/bg.jpg);
  background-repeat: repeat;
  background-size: 20%;
}

h2 {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 7rem 1rem;
  margin: 3rem 3rem;
  background-color: rgba(2, 103, 59, 80%);
  border-radius: 0.5rem;
}

.main {
  font-size: 4.3rem;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  width: 60%;
}
